<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
		  <sectionGroup name="businessObjects">
			  <sectionGroup name="crystalReports">
				  <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler,CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral,PublicKeyToken=692fbea5521e1304,  Custom=null"/>
				  <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
			  </sectionGroup>
		  </sectionGroup>
	  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
      <buildProviders>
				<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</buildProviders>
    </compilation>    
		<httpHandlers>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
		  <add name="dbconn" connectionString="Server=192.168.10.10; Database=RDRS_RDRS; user id=sa ; password=supper" providerName="System.Data.SqlClient"/>
		  <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
		  <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
      <add name="RDRS_RDRSEntities" connectionString="metadata=res://*/RDRS_RDRS.csdl|res://*/RDRS_RDRS.ssdl|res://*/RDRS_RDRS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.10;initial catalog=RDRS_RDRS;user id=sa;password=supper;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
			<add key="CrystalImageCleaner-AutoStart" value="true"/>
			<add key="CrystalImageCleaner-Sleep" value="60000"/>
			<add key="CrystalImageCleaner-Age" value="120000"/>
			<add key="EmpImagePath" value="../Documents/EmpImage"/>
			<add key="EmpSignPath" value="../Documents/EmpSignature"/>
			<add key="TrainingPath" value="../Documents/Attachments/Training/"/>
			<add key="AppraisalPath" value="../Documents/Attachments/Appraisal/"/>
			<add key="AttnTextFilePath" value="../Documents/AttnTextFile"/>
			<add key="AttachFilePath" value="../Documents/EmailAttachFile"/>
			<add key="AttachTempFilePath" value="D:\Platoon_Email_Temp_Files"/>
			<add key="EmpFilePath" value="D:\EmpFiles"/>
			<add key="XMLFilePath" value="../XMLFiles"/>
			<add key="EmpDocPath" value="../EmpDocument/"/>
			<!--<add key="LogoPath" value="../Images/MSB-Logo.png"/>-->
			<add key="LogoPath" value="D:\Development\VS-2010\RDRSHR\Images\RDRS_logo.jpg"/>
			<add key="ReportLogoPath" value="~/Images/RDRS_logo.jpg"/>
			<add key="folderPath" value="HRcsvFile"></add>
			<!--<add key="MyMailServer" value="smtp.gmail.com" />
      <add key="MyMailServerPort" value="587" />-->
			<add key="MyMailServer" value="smtp.office365.com"/>
			<add key="MyMailServerPort" value="587"/>
			<add key="MyExMailServer" value="ukhubcasarray.plan-int.org"/>
			<add key="MySystemEmail" value="baseltdsoftware@gmail.com"/>
			<add key="MySystemEmail" value="basesoftware@gmail.com"/>
			<add key="MyEmailPwd" value="Dhaka@1971"/>
			<add key="LeaveHour" value="7.5"/>
			<add key="AppURL" value="http://hr.wateraidbd.org:8888/WaterAid"/>
			<add key="AllowanceFilePath" value="../Attachments"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		</appSettings>
		<system.web>
			<!--<identity impersonate="true"/>-->
			<authentication mode="Forms"/>
			<sessionState timeout="540"/>
			<customErrors mode="Off"/>
		</system.web>
		<system.webServer>
			<directoryBrowse enabled="true"/>
		</system.webServer>
	</location>
  <businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true"/>
			</rptBuildProvider>
			<crystalReportViewer>
				<add key="ResourceUri" value="~/crystalreportviewers13"/>
			</crystalReportViewer>
		</crystalReports>
	</businessObjects>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,            AjaxControlToolkit"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>
